flask
telethon
cryptg
gunicorn
Pillow
requests
yt-dlp
SpeechRecognition
pydub
aiohttp
psutil
aiofiles
httpx[http2]
pytube
duckduckgo_search
python-telegram-bot==20.7
python-dotenv
pyrogram
TgCrypto
beautifulsoup4
lxml
cloudscraper
fake-useragent
phonenumbers
cryptography
pycryptodome
opencv-python-headless
colorama
rich
tqdm
loguru
telethon
aiohttp
phonenumbers
fake-useragent
pillow
nest-asyncio
